body{
    background-color: black;
}
header {
    background-color: black;
}

h1 {
    font-size: 2rem;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    padding: 0.5rem;
}

form{
    display: block;
    background-color: burlywood;
}

.result {
    display: flex;
    flex-direction: row;
}

.cards {
    padding: 0.25rem;
    max-width: 67vw;
    border-right: solid 0.2rem black;
    }

.deck{
    width: 28vw;
    padding: 0.5rem;
}

fieldset {
    display: flex;
}

label {
    display: block;
    font-size: 1.5rem;
}

input, InputSelect {
    margin-right: 2rem;
    margin-bottom: 0.5rem;
    width: 25rem;
    height: 2rem;
    border-radius: 0.35rem;
    border: solid, black;
    box-shadow: 0.2rem 0.2rem 0.2rem grey;
}

ul{
    display: flex;
    flex-wrap: wrap;
}

li{
    padding: 0.5rem;
    list-style-type: none;
}

img{
    width: 223px;
    height: 310px;
}