@page "/"

<PageTitle>Home</PageTitle>
<body>
<header>
    <h1>Magic the Gathering Deck Builder</h1>
</header>
<main>
    <form>
        <fieldset>
            <div>
                <label for="name" >Name:</label>
                <input type="text" id="name" name="name" placeholder="Enter Name"/>
            </div>
            <div>
                <label for="artist">Artist:</label>
                <input type="text" id="artist" name="artist" placeholder="Enter Artist"/>
            </div>
            <div>
                <label for="text">Text:</label>
                <input type="text" id="text" name="text" placeholder="Enter (part of) text"/>
            </div>
        </fieldset>
        <fieldset>
            <div>
                <label for="set-code">Set Code:</label>
                <input type="text" id="set-code" name="set-code" placeholder="Enter Set Code"/>
            </div>
            <div>
                <label for="rarity">Rarity:</label>
                <select id="rarity">
                </select>
            </div>
            <div>
                <label for="card-type">Card Type:</label>
                <select id="card-type">
                </select>
            </div>
        </fieldset>
            <button>Apply Filters</button>
    </form>
    <ul>

    </ul>
        <script>
            const cardTypes = ["Creature", "Instant", "Sorcery", "Enchantment", "Artifact", "Planeswalker", "Land"];
            const raritySelect = document.getElementById("rarity");
            const cardTypeSelect = document.getElementById("card-type");

            fetch('https://localhost:7195/api/v1.5/rarities')
                .then(response => response.json())
                .then(data => {
                    data.forEach(rarity => {
                        console.log(rarity.name);
                        const option = document.createElement("option");
                        option.value = rarity.name;
                        option.textContent = rarity.name;
                        raritySelect.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error fetching rarities:', error);
                });

            fetch('https://localhost:7195/api/v1.5/types')
                .then(response => response.json())
                .then(data => {
                    data.forEach(type => {
                        console.log(type.name);
                        const option = document.createElement("option");
                        option.value = type.name;
                        option.textContent = type.name;
                        raritySelect.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error fetching types:', error);
                });
            
        </script>
</main>
</body>

